@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.menu-container {
    height: 100%;
    background-color: var(--color-charcoal-with-opacity);
    color: var(--color-white);

    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(6, calc(100% / 6));
}

.menu-main-div {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    font-family: "EB Garamond";

    display: flex;
    justify-content: center;
    align-items: center;
}

.the-menu-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.the-menu {
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.span-menu {
    font-size: 5rem;
}

.the-menu-wrapper hr {
    width: 40rem;
    height: 3px;
    background-color: var(--color-white);
}

.first-set-div {
    grid-row: 2 / 7;
    grid-column: 1 / 2;
}

.second-set-div {
    grid-row: 2 / 7;
    grid-column: 2 / 3;
}

.dnd-div {
    grid-row: 2 / 7;
    grid-column: 3 / 4;
}