@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.menu-container {
    height: 100%;
    background-color: var(--color-charcoal-with-opacity);
    color: var(--color-white);

    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(6, calc(100% / 6));
}

.menu-container > div:not(div:first-of-type) {
    padding: 1rem;
}

.menu-container > div:not(div:first-of-type) > div {
    height: 100%;
    padding: 1rem 5rem;

    display: grid;
    grid-template-rows: 50% 50%;
}

.menu-container > div:not(div:first-of-type) > div > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu-container > div:not(div:first-of-type) > div > div > div:first-of-type {
    display: flex;
    justify-content: center;
}

.menu-main-div {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    font-family: "EB Garamond";

    display: flex;
    justify-content: center;
    align-items: center;
}

.the-menu-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.the-menu {
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.span-menu {
    font-size: 5rem;
}

.the-menu-wrapper hr {
    width: 40rem;
    height: 3px;
    background-color: var(--color-white);
}

.first-set-div {
    grid-row: 2 / 7;
    grid-column: 1 / 2;
}

.first-wrapper,
.dnd-wrapper {
    position: relative;
}

.first-wrapper::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 20%;
    background-color: var(--color-white);
    bottom: 0;
    left: 0;
}

.first-wrapper::after {
    position: absolute;
    content: "";
    height: 20%;
    width: 8px;
    background-color: var(--color-white);
    bottom: 0;
    left: 0;
}

h3 {
    font-family: "EB Garamond";
    font-size: 2rem;
}

li {
    font-size: 1rem;
    margin-bottom: .8rem;

    display: flex;
    justify-content: space-between;
}

span:first-of-type {
    letter-spacing: 2px;
}

.second-set-div {
    grid-row: 2 / 7;
    grid-column: 2 / 3;
}

.dnd-div {
    grid-row: 2 / 7;
    grid-column: 3 / 4;
}

.dnd-wrapper::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 20%;
    background-color: var(--color-white);
    top: 0;
    right: 0;
}

.dnd-wrapper::after {
    position: absolute;
    content: "";
    height: 20%;
    width: 8px;
    background-color: var(--color-white);
    top: 0;
    right: 0;
}